@layer normalize,
component,
variant,
main,
adaptive;


@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('/font/HelveticaNeueBold.ttf');
}

@layer component {
  .button {
    text-decoration: none;
    color: var(--color-black);
    padding: var(--spacing-3);
    border-radius: var(--radius-1);
    text-align: center;
    border: 1px solid transparent;
  }

  .click {
    transition: opacity var(--transition);
  }

  .click:hover {
    opacity: var(--opacity-1);
    cursor: pointer;
  }

  .click:active {
    opacity: var(--opacity-2);
  }

  .page_section {
    display: flex;
    justify-content: center;
  }

  .icon {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .double_line {
    line-height: var(--line-height)
  }
}

@layer variant {
  .button_primary {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .button_secondary {
    background-color: var(--color-white);
    color: var(--color-primary);
    border-color: var(--color-primary);
    border-width: 2px;
  }

  .page_section_light {
    background-color: var(--color-light);
  }

  .feat_icon {
    height: 48px;
    width: 48px;
  }

  .icon_arrow {
    height: 14px;
    width: 24px;
    background-image: url('/svg/arrow-right.svg');
  }
}

.body {
  font-family: 'HelveticaNeueBold', sans-serif;
  background-color: var(--color-white);
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #611F69;
  --color-light: #F4EDE4;

  --page-width-big: 1260px;
  --page-width-medium: 1000px;
  --page-width-small: 700px;

  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-6: 28px;
  --spacing-7: 32px;
  --spacing-8: 36px;

  --size-1: 14px;
  --size-2: 18px;
  --size-3: 22px;
  --size-4: 26px;
  --size-5: 30px;
  --size-6: 34px;

  --radius-1: 4px;

  --opacity-1: 0.7;
  --opacity-2: 0.3;

  --transition-1: 0.7s;

  --line-height: 1.5em:
}

@layer main {
  .page {
    display: grid;
  }

  .page_content {
    width: 100%;
    padding: var(--spacing-3);
  }

  .hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;
    min-height: 600px;
  }

  .hero {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .hero_content {
    display: grid;
    gap: var(--spacing-5);
    max-width: 425px;
    color: var(--color-black);
    font-weight: 700;
    position: relative;
  }

  .brands {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--spacing-8);
    row-gap: var(--spacing-4);
    flex-wrap: wrap;
  }

  .hero_image {
    position: absolute;
    left: 580px;
    top: 0;
  }

  .hero_label {
    font-size: var(--size-1);
  }

  .hero_title {
    font-size: 50px;
  }

  .hero_info {
    font-size: var(--size-2);
  }

  .hero_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-5);
  }

  .features_section {
    padding-top: 150px;
    padding-bottom: 150px;

    display: grid;
    gap: var(--spacing-5);
    background-image: url('/img/feature.png');
    background-repeat: no-repeat;
    background-position: top right;

  }

  .features_title {
    font-size: var(--size-6);
  }

  .features_description {
    font-size: var(--size-2);
    max-width: 520px;
    line-height: var(--line-height);
  }

  .feat_card {
    padding: var(--spacing-3);
    background-color: var(--color-white);
    display: grid;
    gap: var(--spacing-3);
    grid-template-rows: min-content min-content 1fr min-content;
    font-size: var(--size-2);
    line-height: var(--line-height);
  }

  .feat_link {
    justify-self: flex-end;
  }

  .features_grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-3);
  }

  .features_grid_4>.feat_card:first-of-type {
    grid-row: 1 / 3;
  }

  .features_section_1 {
    padding-top: 60px;
    padding-bottom: 130px;

    display: grid;
    gap: var(--spacing-5);
    background-image: url('/img/feature-1.png');
    background-repeat: no-repeat;
    background-position: top left;

  }

  .features_1 {
    display: grid;
    padding-left: 630px;
    gap: 16px;
  }

  .features_grid_3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(2, 1fr);*/
    gap: var(--spacing-3);
  }

  .features_grid_3>.feat_card:first-of-type {
    visibility: hidden;
  }

  /*.features_grid_3>.feat_card:nth-of-type(4, 5) {
    grid-row: 3 / 1;
  }*/
  /*.feat_card_small{
    display: inline grid;
    gap:16px;
  }*/

  .deliveroo_section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*min-height: 600px;*/


  }

  .deliveroo {
    height: 100%;
    display: flex;
    align-item: center;

    gap: 38px;
    margin-top: 56px;

    /*padding-top:72px;*/
    padding-bottom: 48px;


    height: 100%;
    /* display: flex;
    align-items: center;
    margin-top: 50px;*/
    justify-content: flex-end;
  }

  .deliveroo_section_image {
    padding-left: 130px;
    /* max-height:228px;
  height:100%;*/
    position: absolute;
    /* top:0;*/
    max-width: 556px;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
    left: 0;

  }

  .deliveroo_content {

    display: grid;

    gap: var(--spacing-5);
    max-width: 433px;
    color: var(--color-black);
    font-weight: 700;
    position: relative;
    /*max-width: 100%;*/
    left: 30px;



  }

  .deliveroo_section_info {
    /*max-width:387px;
    width:100%;*/
    font-size: 28px;
    /*line-height:150%;*/
  }

  .slack_section {
    padding-top: 100px;
    padding-bottom: 80px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .slack_title {
    text-align: center;
    font-size: var(--size-5);
  }

  .slack_section_cards {
    display: flex;
   /* flex-direction: column;*/

    gap: 75px;

  }

  .slack_card {
    display: flex;
    flex-direction: column;
    max-width: 285px;
    width: 100%;
    height: 420px;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
    gap: var(--spacing-1);
  }

  /*.slack_card {
    display: grid;
    grid-template-rows: 2fr 2fr;
     max-width: 285px;
    width: 100%;
    max-height: 420px;
    height:100%;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);

  }*/
  .slack_card_image{
    padding:0;
  }

  .slack_card_body {  
    flex-direction:column;
    justify-content:space-between;    
    padding: 12px;
    gap:24px;
    height:100%;
  }

  .slack_card_label {
    font-size: var(--size-1);
  }

  .slack_card_title {
    font-size: var(--size-4);

  }

 

  .slack_card_footer {
    display: flex;
    
   justify-content: space-between;    
   align-items:flex-end;
  }

  .learn_more {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #1264A3;
    

  }

  .arrow_blue {
    height: 14px;
    width: 24px;
    background-image: url('/svg/arrow-blue.svg');
    padding-right: 12px;
  }
}

@layer adaptive {

  @media all and (1260px <=width) {
    .page_content {
      max-width: var(--page-width-big);
    }
  }

  @media all and (1000px <=width < 1260px) {
    .page_content {
      max-width: var(--page-width-medium);
    }

    .hero_image {
      left: 518px;
      height: 300px;
    }
    .slack_section_cards{
      gap:50px;
    }

    /*.slack_section_cards {
       display: grid;
      grid-template-rows: repeat(3, 1fr);
      flex-wrap:wrap;*/

    }

    /*.slack_card {
      display: flex;
   justify-content:space-between;
      width: 100%;
      max-height: 210px;
      height: 100%;
    }*/
  }

  @media all and (width < 1000px) {
    .page_content {
      max-width: var(--page-width-small);
    }

    .hero_image {
      position: static;
      width: 100%;
      order: -1;
    }

    .hero_content {
      max-width: 100%;
    }

    .features_grid_4 {
      grid-template-columns: repeat(3, 1fr);
    }

    .features_grid_4>.feat_card:first-of-type {
      grid-row: 1 / 3;
    }

    .features_section {
      background: none;
    }

    .features_section_1 {
      background: none;
    }

    .features_1 {
      padding-left: 0;
      justify-content: center;
    }

    .features_grid_3>.feat_card:first-of-type {

      display: none;

    }

    .features_grid_3 {
      grid-template-columns: repeat(3, 1fr);
    }

    .deliveroo_image {
      position: static;
      width: 100%;
      order: -1;
    }

    .deliveroo_section_image {
      position: static;
      width: 100%;
      order: -1;
      padding-left: 0;
    }

    .deliveroo {
      flex-direction: column
    }


  }

  @media all and (width < 600px) {
    .features_grid_4 {
      grid-template-columns: 2fr 2fr;
    }

    .features_grid_3 {
      grid-template-columns: 2fr 2fr;
    }
  }

  @media all and (width < 400px) {
    .features_grid_4 {
      grid-template-columns: 1fr;
    }

    .features_grid_3 {
      grid-template-columns: 1fr;
    }

    .hero_buttons {
      grid-template-columns: 1fr;
      gap: var(--spacing-2);
    }

    .deliveroo_section_image {
      padding: 0;
    }

    .deliveroo_content {
      left: 0;
    }
  }

}