:root {
    --spase-s:8px;
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;

    --color-border: #dee2e6;

    --color-primary: rgb(50, 50, 226);
    --color-white: #ffffff;
    --color-title: #212529;
    --color-text: #343a40;

    --border-radius: 12px;
    --border-radius2:4px;


    --weight-title: 600;
    --weight-text: 400;

    --page-width: 1000px;
}

/*================================================*/
.page {
    background: var(--color-white);
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: var(--page-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* padding-top: 74px;*/
}

/*===============================================*/

.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    position: sticky;
    max-width: var(--page-width);
    width: 100%;
    top: 0;
    /*left: calc (50% - (var(--page-width) / 2));*/
    background: var(--color-white);
    z-index: 1;
}

.logo {
    font-size: 17px;
    background: var(--color-primary);
    color: var(--color-white);
    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none;
    line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: blue;
    transition-property: opacity;
    transition-duration: 1s;
}

.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}

.footer_copytight {
    color: var(--color-text);
    font-size: 13px;
    display: block;
    margin-top: var(--space-l);
}

.footer_title {
    color: var(--color-title);
    font-size: var(--size-l);
    display: block;
    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}

.main {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.messages {
    max-width: 620px;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.1);
    padding: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    position: relative;
}

.messages_title {
    font-size: var(--size-b);
    color: var(--color-title);
    font-weight: var(--weight-text);
    padding-bottom: var(--space-m);
    border-bottom: solid 1px var(--color-border);
}

.messages_link {
    color: var(--color-primary);
    align-self: flex-end;
    font-size: var(--size-s);
    font-weight: var(--weight-text);

    text-decoration: none;

    transition-property: opacity, border-color;
    transition-duration: 0.7s;
    border-bottom: 1px solid transparent;
}

.messages_link:hover {
    opacity: 0.7;
    border-color: var(--color-primary);
}

.msg {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    padding-right: var(--space-b);
}

.msg_name {
    font-size: var(--size-d);
    color: var(--color-title);
    font-weight: var(--weight-title);
}

.msg_message {
    font-size: var(--size-d);
    color: var(--color-title);
    font-weight: var(--weight-text);
    padding-bottom: var(--space-m);
    border-bottom: solid 1px var(--color-border);
}

.msg_day {
    position: absolute;
    right: 0;
    /*top: 0;*/
    padding-right: var(--space-b);
}

.advantages {
    display: flex;
    gap: var(--space-l);
}

.advantages>div {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4eaf2;
    border-radius: var(--border-radius);
    padding: var(--space-l);
    gap:var(--spase-s);
}

.advantages>div>strong {
    color: var(--color-title);
    font-size: 18px;
    font-weight: var(--weight-title);
}

.advantages>div>p {
    color: #767676;
    font-size: var(--size-d);
    line-height: 150%;
}

.advantages>div:nth-of-type(2) {
    flex-grow: 1;
    width: 100%;
}

.form {
    max-width: 340px;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

    padding: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.form_title {
    text-align: center;
    font-size: var(--size-b);
    font-weight: var(--weight-text);
    color: var(--color-title);
}

.form_info {
    text-align: center;
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    color: #6c757d;
}

.form_button {
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 12px;
    border-radius: var(--border-radius2);
    transition: opacity 0.7s;
}

.form_button:hover {
    opacity: 0.7;
}

.form_button:active {
    opacity: 0.3;
}

.form_input_list {
    display: flex;
    gap: var(--space-m);
    flex-direction: column;
}

.form_input {
    padding: var(--space-xm);
    border: 1px solid #ced4da;
    background-color: var(--color-white);
    border-radius: var(--border-radius2);
}
.form_input::placeholder{
    color:var(--color-title);
    font-size: var(--size-d);

}
.form_checkbox{
    display: flex;
    gap: var(--spase-s);
    align-items: center;
}
.form_checkbox > input{ 
display: none;
}

.form_checkbox > input ~ div{
    border-radius:var(--border-radius2);
    border: 1px solid #767676;
    width: 13px;
    height: 13px;
}
.form_checkbox > input:checked ~ div{
   background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
.form_checkbox > label{
    color: var(--color-title);
    font-size: var(--size-d);
    cursor: pointer;
}