{{#each articles}}

<div>
    <div>
        <img class="articles_card_img" src="{{photo}}">

    </div>
    <strong class="articles_card_name">{{name}}</strong>
    <p class="articles_card_description">{{description}}</p>
    <a href="#" class="button articles_card_button">Read All</a>

</div>
{{/each}}