 {{#with footer}}
    <div class="footer_link">
        {{#each pages}}
        <a class="nav_link_footer" href="{{path}}">{{name}}</a>
        {{/each}}
    </div>
    <div>
         <span class="footer_copytight">© Copyrights Shop 2022. All rights reserved</span>
    </div>
    {{/with}}